<html>
  <head>
    <title>
      A Simple HTML Document with a list
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  </head>
  <body ng-app="miApp" ng-controller="ControladorCertificado">
     <p>El Alumno {{alumno}}
     </p>
     <table>
       <tr ng-repeat="curso in cursos">
          <td>{{curso.nombre}}
          </td>
          <td>
             <input type="checkbox" ng-model="curso.aprobo" ng-click="cuenta()">             
          </td>
       </tr>     
     </table>
       <p id="despliega">Cuantos aprobados : {{tot}}
       </p>
     <script>
      angular.module("miApp",[])
      .controller("ControladorCertificado",
        function ($scope){
            $scope.tot=0;
            $scope.alumno="Alejandro";
            $scope.cursos=[
               {nombre:"HTML/CSS",aprobo:false},
               {nombre:"Java",aprobo:true},
               {nombre:"AngularJS",aprobo:false}
            ];
            $scope.cuenta=function(){
                          var cont=0;
                          for (var i=0; i<$scope.cursos.length; i++){
                            if ($scope.cursos[i].aprobo){
                              cont++;
                            }
                          }
                          $scope.tot=cont;
                    }
          });
    </script>
  </body>
</html>
